@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Shirt Site</h1>
    <p>A website that allows a user to view and purchase avaliable shirts, the webiste also includes access for admins to manage the availibe shirts and transactions </p>
</div>
